:host ::ng-deep{
    .mat-expansion-panel-body{
        padding-bottom: .5rem;
    }
    .mat-expansion-panel-content{
      border-top: 1px solid #ccc;
    }
  }
mat-expansion-panel-header.bg-gray{
  background-color: #efefef !important;
  &:hover{
    background-color: #eee !important;
  }
}
h3{
    font-weight: 600;
    margin-bottom: .5rem;
}
